// Colors;
$color-black-normal: #2F3034;
$color-grey: #E4E7ED;
$color-white: #ffffff;
$color-dark-grey: #909399;
$color-light-grey: #C0C4CC;
$color-readonly-grey: #D8D8DA;
$color-medium-grey: #C4C4D8;
$color-black: #000;
$color-black-medium: #2F3034;
$color-white: white;
$color-green: #42CE7A;
$color-red: #FA5C45;
$color-orange: #FEAF5A;
$color-green-light: #E8FBE8;
$color-blue-light: #F2F6FC;
$color-blue-normal: #5567EA;
$color-blue: #263CDE;
$color-pun: #7f0074;
$color-blue1: #0674b8;
$color-blue-grand: linear-gradient(125.83deg, #5567EA 5.9%, #263CDE 94.79%);
$color-blue-lite: #ECF5FF;
$color-grey-lite: #F5F5F8;


$padding-content: 15px;
//
$media-book: 1370px;
$media-md: 990px;
$media-xs: 640px;
$media-mobile: 520px;
